@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 217.2 91.2% 59.8%;
    --radius: 0.5rem;
    --price-up: 120 61% 50%;
    --price-down: 0 84% 60%;
    --price-up-flash: 120 73% 75% / 0.3;
    --price-down-flash: 0 84.2% 60.2% / 0.3;
  }
  .dark {
    --background: 227 65% 8%;
    --foreground: 210 40% 98%;
    --card: 228 71% 13%;
    --card-foreground: 210 40% 98%;
    --popover: 228 71% 13%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 210 40% 98%;
    --secondary: 228 71% 18%;
    --secondary-foreground: 210 40% 98%;
    --muted: 228 71% 18%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 228 71% 22%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 228 71% 20%;
    --input: 228 71% 20%;
    --ring: 217.2 91.2% 59.8%;
    --price-up: 120 73% 75%;
    --price-down: 0 72% 51%;
    --price-up-flash: 120 73% 75% / 0.2;
    --price-down-flash: 0 72% 51% / 0.2;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
