@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 180 5% 8%;
    --foreground: 210 40% 98%;
    --card: 216 14% 14%;
    --card-foreground: 210 40% 98%;
    --popover: 180 5% 8%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 210 40% 98%;
    --secondary: 228 71% 18%;
    --secondary-foreground: 210 40% 98%;
    --muted: 228 71% 18%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 228 71% 22%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 216 11% 22%;
    --input: 228 71% 20%;
    --ring: 217.2 91.2% 59.8%;
    --radius: 0.5rem;
    --price-up: 120 73% 75%;
    --price-down: 0 72% 51%;
    --price-up-flash: 120 73% 75% / 0.2;
    --price-down-flash: 0 72% 51% / 0.2;
  }
  .dark {
    --background: 180 5% 8%;
    --foreground: 210 40% 98%;
    --card: 216 14% 14%;
    --card-foreground: 210 40% 98%;
    --popover: 180 5% 8%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 210 40% 98%;
    --secondary: 228 71% 18%;
    --secondary-foreground: 210 40% 98%;
    --muted: 228 71% 18%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 228 71% 22%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 216 11% 22%;
    --input: 228 71% 20%;
    --ring: 217.2 91.2% 59.8%;
    --price-up: 120 73% 75%;
    --price-down: 0 72% 51%;
    --price-up-flash: 120 73% 75% / 0.2;
    --price-down-flash: 0 72% 51% / 0.2;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .thin-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .thin-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .thin-scrollbar::-webkit-scrollbar-thumb {
    background-color: #5b6075;
    border-radius: 3px;
  }

  .thin-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--accent-foreground) / 0.5);
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
